// @import '~bootstrap/scss/bootstrap';
// @import 'resources/views/layouts/app.blade.php';
// @use './partials/mixins';
// @use './partials/variables';
@import 'partials/variables' as*;
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    // debug
    background-color: black;

    main {
        height: 120px;
        color: white;
    }
}

//header
.header-container {
    @include mixins.flex-around;
    height: 80px;
    padding: 10px 0;
    background-color: variables.$primary-color;


    .logo {
        height: 100%;
    }

    .categories {
        @include mixins.flex-around;
        list-style: none;

        li {
            padding: 20px;

            a {
                display: inline-block;
                height: 80px;
                line-height: 80px;
                color: variables.$secondary-color;
                text-decoration: none;

                &:hover {
                    color: variables.$tertiary-color;
                    border-bottom: 5px solid lighten(variables.$tertiary-color, $amount: 15);
                    transition: color .5s ease, border-bottom .03s linear;
                }
            }
        }


    }
}




//jumbotron

.background {
    height: 300px;
    background-image: url(../assets/img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


//card section
.wrapper {
    height: 580px;
    position: relative;

    .current-series {
        font-size: 0.8rem;
        position: absolute;
        top: -20px;
        left: 20%;
        @include mixins.blue-text-white;

    }

    .load-more {
        @include mixins.blue-text-white;
        height: 30px;
        width: 200px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        border: none;
        transform: translateX(-50%);

        &:hover {
            box-shadow: 0 0 25px rgb(166, 166, 166);
            transition: box-shadow 0.3s ease-in-out;

        }

        &:active {
            transition: background-color 0.2s ease-in-out;
            background-color: lighten($tertiary-color, $amount: 15);
        }
    }

    .container {
        @include mixins.flex-center-wrap;
        padding-top: 50px;
        width: 80vw;
        height: 100%;
        margin: auto;

    }
}

//single card
.card {

    width: calc(100% / 6 - 10px);
    height: calc(80vw / 6 - 10px);
    margin: 5px;

    .img-container {
        height: 150px;
        width: 150px;
        margin-bottom: 5px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    .title {
        // padding: 0 15px;
        color: $primary-color;
    }
}

//banner bonus
.banner-bonus-container {
    height: 120px;
    background-color: $tertiary-color;
    @include mixins.flex-center;

    .card {
        height: 100%;
        @include mixins.flex-center;
        margin: 0 35px;
        color: $primary-color;


        &:last-child img {
            height: 20%;
        }

        img {
            height: 30%;
        }

        a {
            margin-left: 5px;
            text-decoration: none;
            color: $primary-color;

            .title {
                font-size: .7rem;
                font-weight: 400;
            }

        }
    }
}

//footer 

.footer-container {
    overflow-y: hidden;
    height: 300px;
    background-image: url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include mixins.flex-around;

    .links-wrapper {
        height: 100%;
        margin-top: 45px;
        width: 40%;

        .footer-links {
            @include mixins.flex-columns;
            height: 100%;
            margin: 0 20px;
            padding: 30px;

            .category {
                margin: 0 20px;
                margin-bottom: 20px;
                color: variables.$primary-color;


                li {
                    list-style: none;

                    a {
                        font-size: 10px;
                        color: lighten(variables.$secondary-color, $amount: 10);
                        text-decoration: none;

                        &:hover {
                            color: lighten(variables.$secondary-color, $amount: 30);
                            border-bottom: 1px solid lighten(variables.$tertiary-color, $amount: 10);
                            transition: border-bottom 0.5s linear;
                            transition: color .5s linear;
                        }
                    }
                }
            }
        }


    }

    .logo-bg {
        height: 390px;
    }


}