// @import '~bootstrap/scss/bootstrap';

@use './partials/mixins';
@use './partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

//header
.header-container {
    @include mixins.flex-around;
    height: 80px;
    padding: 10px 0;
    background-color: variables.$primary-color;


    .logo {
        height: 100%;
    }

    .categories {
        @include mixins.flex-around;
        list-style: none;

        li {
            padding: 20px;

            a {
                display: inline-block;
                height: 80px;
                line-height: 80px;
                color: variables.$secondary-color;
                text-decoration: none;

                &:hover {
                    color: variables.$tertiary-color;
                    border-bottom: 5px solid lighten(variables.$tertiary-color, $amount: 15);
                    transition: color .5s ease, border-bottom .03s linear;
                }
            }
        }


    }
}